body {text-align: left; background: grey; padding: 0 15% 0 15%}

p {font-family: courier new; color: white; font-size: 1.5em; margin-left: 4%}
h1 {font-family: courier new; color: white; font-size: 6em; font-weight: 200}
h2 {font-family: courier new; color: white; font-size: 3em; font-weight: 400}
h3 {font-family: courier new; color: white; font-size: 1em; font-weight: 100; margin-left: 6%}

div.main {width 75%; padding: 0 5% 0 0}

div.sidebar {width: 20%; float:right; text-align: right}