body {text-align: left; background: gray; padding: 0 15% 0 15%; vlink: gray;}

p {font-family: courier new; color: white; font-size: 1.2em; margin-left: 4%}
h1 {font-family: courier new; color: white; font-size: 4em; font-weight: 200}
h2 {font-family: courier new; color: white; font-size: 2em; font-weight: 400}
h3 {font-family: courier new; color: white; font-size: .8em; font-weight: 100; margin-left: 6%}

div.main {width: 75%; padding: 0 0 0 0}

div.sidebar {width: 20%; float:right; text-align: right}